/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1800px) {
	.header_photo {
		margin: 120px 0 0 0;
	}
	.header_text {
		margin: 40px 0 0 0;
	}
	.header_text br {
		display: none;
	}
	.section_left_photo {
		display: none;
	}
	.section_right_photo img {
		float: left;
		margin: 40px 80px 0 40px;
	}
	.section_right_text {
		margin: 0;
		overflow: visible;
	}
	.section_right_text p:first-child {
		margin-top: 70px;
	}
	.section_right_text br:first-child {
		display: none;
	}
	.section_right_text .dnk {
		text-indent: 0;
	}
	.section_right_photo .title_description {
		margin: 100px 0 0 0;
		text-align: center;
	}
	.section_right_photo  .description {
		margin: 0;
		text-align: center;
	}
	.section_bottom img {
		margin: 60px 0 0 0;
	}
	.section_bottom_text p:first-child {
		margin-top: 120px;
	}
	.section_slider h2 {
		margin-left: 60px;
	}
	.footer_contacts {
		padding: 100px 0 60px 0;
	}
	.footer_distribution {
    	padding: 60px 0 0 0;
	}
	.footer_distribution .input-group .form-control {
		margin-left: 20px;
	}
	.footer_new  p{
		display: none;
	}
	.footer .footer_nav span {
		margin-left: 150px;
	}
	.footer .footer_nav a:last-child {
		margin-right: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}